* {
  all: unset; // Unsets everything so you can style everything from scratch
}

.bar {
  background-color: $background;
  border-radius: 20px;
  color: $accent-1;
  padding: 5px;
}

.bar button {
  background-color: $background;
  border-color: $accent-1;
  border-radius: 20px;
  color: $accent-1;
  padding: 5px;
}

.pop {
  background-color: $background;
  border-radius: 20px;
  color: $accent-1;
  padding: 5px;
}

.bar-audio scale trough highlight {
  all: unset;
  background-color: $accent-1;
  color: $accent-1;
  border-radius: 10px;
}

.bar-audio scale trough {
  all: unset;
  background-color: $foreground-d;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.workspace {
  border-color: $foreground-d;
  color: $foreground-d;
  padding: 5px;
  &:hover {
    border-color: $accent-1;
    color: $accent-1;
  }
}

.audio-entry {
  background-color: $background;
  border-color: $foreground-d;
  border-radius: 20px;
  color: $foreground-d;
  &.active {
    border-color: $accent-1;
    color: $accent-1;
  }
}
