* {
  all: unset; // Unsets everything so you can style everything from scratch
}

.bar {
  all: unset;
  background-color: $background;
  border-color: $accent-1;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  color: $accent-1;
  padding: 2px;
}

.bar button {
  all: unset;
  background-color: $background;
  border-radius: 20px;
  border-width: 1px;
  color: $accent-1;
  padding: 2px;
}

.top-bar {
  all: unset;
  background-color: rgba($background, 0);
  border-radius: 20px;
  border-width: 1px;
  color: $accent-1;
}

.bottom-bar {
  all: unset;
  background-color: rgba($background, 0);
  border-radius: 20px;
  border-width: 1px;
  color: $accent-1;
}

.top-bar-center {
  all: unset;
  background-color: $background;
  border-color: $accent-1;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  padding-top: 2px;
  padding-bottom: 2px;
  color: $accent-1;
}

.top-bar-right {
  all: unset;
  border-radius: 20px;
  border-width: 1px;
  color: $accent-1;
}

.bottom-bar-center {
  all: unset;
  background-color: $background;
  border-color: $accent-1;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  color: $accent-1;
  padding: 5px;
}

.bottom-bar-right {
  all: unset;
  background-color: $background;
  border-color: $accent-1;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  padding-top: 2px;
  padding-bottom: 2px;
  color: $accent-1;
}

.pop {
  all: unset;
  background-color: $background;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  color: $accent-1;
  padding: 5px;
}

.bar-systray {
  all: unset;
  border-radius: 20px;
  border-width: 1px;
  color: $accent-1;
  font-size: 20px;
}

.bar-calendar {
  all: unset;
  border-radius: 20px;
  border-width: 1px;
  color: $accent-1;
}

.pop-calendar {
  padding: 5px;
}

.bar-audio-container {
  all: unset;
  background-color: $background;
  border-color: $accent-1;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  color: $accent-1;
}

.bar-audio {
  all: unset;
  border-radius: 20px;
  border-width: 1px;
  color: $accent-1;
}

.bar-audio scale trough highlight {
  all: unset;
  background-color: $accent-1;
  color: $accent-1;
  border-radius: 10px;
}

.bar-audio scale trough {
  all: unset;
  background-color: $foreground-d;
  border-radius: 50px;
  min-height: 10px;
  min-width: 100px;
  margin-left: 5px;
  margin-right: 5px;
}

.pop-audio-content {
  padding: 5px;
}

.pop-audio-content button {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.bar-sysmenu {
  all: unset;
  background-color: $background;
  border-color: $accent-1;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  color: $accent-1;
  padding: 2px;
}

.pop-sysmenu-button {
  all: unset;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}


.bar-workspaces {
  all: unset;
  border-radius: 20px;
  border-width: 1px;
}

.workspace {
  color: $accent-1;
}


.bar-windows {
  all: unset;
  border-radius: 20px;
  color: $accent-1;
}

.bar-clipmenu {
  all: unset;
  border-radius: 20px;
  color: $accent-1;
}

.audio-entry {
  all: unset;
  background-color: $background;
  border-color: $foreground-d;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  color: $foreground-d;
}

.audio-entry-active {
  all: unset;
  background-color: $background;
  border-color: $accent-1;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  color: $accent-1;
}

.bar-whichkey {
  all: unset;
  border-radius: 20px;
  padding: 7px;
}

.shy-h {
  margin-left: 20px;
  margin-right: 20px;
}

.shy-v {
  margin-top: 20px;
  margin-bottom: 20px;
}

.spacious {
  padding: 5px;
}

.spacious-h {
  padding-left: 20px;
  padding-right: 20px;
}

.spacious-v {
  padding-top: 20px;
  padding-bottom: 20px;
}
